.secao-p1,
.secao-p2,
.secao-p3,
.secao-p4 {
    padding: 40px 0;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600px;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.normal:hover {
    background-color: #088178;
    color: #fff;
}

body {
    width: 100%;
}

/* home main styles */

main {
    background-color: var(--verde-principal);
}

/* card section styles */

#card {
    background-image: url(../../assets/img/bg_home.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
}

#card h4 {
    padding-bottom: 15px;
    font-size: 40px;
}

#card h2 {
    font-size: 70px;

}

#card h1 {
    color: #088178;
    font-size: 70px;
}

#card p {
    color: #feffff;
    font-size: 20px;
    font-weight: 300;
}


#card button {
    background-color: var(--cor-cabecalho);
    border-radius: 10px;
    width: 260px;
    height: 60px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: #088178;
    padding: 10px 50px 10px 50px;
    
}

#card button a:link{
    text-decoration: none;
}

#card button:hover {
    transform: scale(1.1);
}

/* feature section styles */

#habilidades {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#habilidades .h-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: box-shadow 0.3s;
}

#habilidades .h-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.1);
}

#habilidades .h-box img {
    width: 100%;
    margin-bottom: 10px;
}

#habilidades .h-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    font-size: 14px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#habilidades .h-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#habilidades .h-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#habilidades .h-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#habilidades .h-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#habilidades .h-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/* feature section styles */
.produto-sec {
    padding: 40px 0;
}


.produto-card {
    transition: transform 0.9s ease;
    /* Diminua o tempo para 0.2 segundos */
}

.produto-sec .produto-card:hover {
    transform: scale(1.1);
    border: 1px solid #03441e;

}

.produto-sec .pro-colecao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 60px;
}

.produto-sec h1,
.produto-sec p {
    color: wheat;
    text-align: center;
}

.produto-sec .produto-card {
    width: 280px;
    border: 1px solid #ebebeb;
    padding: 13px;
    margin-bottom: 30px;
    border-radius: 25px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: box-shadow 0.2s;
}

.produto-sec .produto-card:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.produto-sec .produto-card img {
    width: 100%;
    border-radius: 25px;
}

.produto-sec .produto-card span {
    color: #969696;
    font-weight: 500;
    line-height: 30px;
}

.produto-sec .produto-card h4 {
    font-size: 18px;
    color: rgb(41, 41, 41);
}

.produto-sec .produto-card .stars {
    color: #e6ae2c;
    padding: 6px 0;
}

.produto-sec .produto-card .preco {
    color: #088178;
    padding: 4px 0;
}

.produto-sec .produto-card .buy-icon {
    color: #088178;
    background-color: #c7e9e75e;
    padding: 15px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* banners section styles */

#banners {
    margin: 0 60px;
}

#banners h2,
h4,
span {
    color: rgb(248, 248, 248);
}

#banners .big-banners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#banners .big-banners div {
    min-width: 300px;
    margin: 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 25px;
    background-size: cover;
    backdrop-filter: blur(8%);
}

#banners .big-banners button {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    cursor: pointer;
    transition: 0.3s ease;
}

#banners .big-banners div:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}

#banners .big-banners-1 {
    background-image: url(../../assets/img/primavera.jpg);
}

#banners .big-banners-2 {
    background-image: url(../../assets/img/outono.jpg);
}

/* noticias section styles */

#noticias {
    background-image: url(../../assets/img/b14.png);
    background-repeat: no-repeat;
    background-position: 180px;
    background-color: #041e42;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
}

#noticias .noticias-text h3 {
    color: white;
    font-size: 30px;
    padding: 0 0 15px 0;
}

#noticias .noticias-text h5 {
    color: rgb(151, 151, 151);
    font-size: 17px;
}

#noticias .noticias-text h5 span {
    color: rgb(216, 182, 29);
}

#noticias .form input {
    padding: 20px;
    width: 350px;
    height: 56px;
    background-color: #d1d0d0;
    border-radius: 6px 0 0 6px;
    font-size: 18px;

    border: none;
    outline: none;
    margin-right: -4px;
    margin-top: 1px;
}

#noticias .form button {
    margin-left: 0;
    padding: 20px;
    border: none;
    width: 120px;
    background-color: #088178;
    color: white;
    font-size: 17px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}


/*
Responsividade para o títulos e fontes
*/
@media screen and (max-width: 730px) {
    #card h1 {
        color: #088178;
        font-size: 50px;
    }
}

/*
  Responsividade para "fique por dentro form"
  */
@media screen and (max-width: 730px) {

    #noticias .noticias-text h3 {
        font-size: 20px;
        padding: 0;
    }

    #noticias {
        padding: 0 20px;
    }

    #noticias .noticias-text h5 {
        font-size: 10px;
    }

    .noticias-text {
        display: block;
    }

    #noticias .form input {
        padding: 20px;
        width: 185px;
        height: 40px;
        font-size: 18px;
        margin-right: -4px;
        margin-top: 1px;
        border-radius: 6px;
    }

    #noticias .form button {

        height: 40px;
        border: none;
        width: 120px;
        background-color: #088178;
        color: white;
        font-size: 17px;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 3px;
        padding-top: 13px;
    }

}