.produto-card-ls h3 {
    color: #088178;
    margin: 5px;
    word-break: break-all;
}

/* Container principal da página */
.produtos-container-ls {
    box-sizing: unset;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--verde-principal);
}

/* Estilo do cabeçalho da página */
.produtos-header-ls {
    text-align: center;
    margin-bottom: 40px;
}

.produtos-header-ls h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: var(--cor-cabecalho);
    font-weight: 600;
}

.produtos-header-ls p {
    font-size: 1.2em;
    color: #666;
    font-weight: 600;
}

/* Estilo das seções de produtos */
.produtos-section-ls {
    margin-bottom: 60px;
}

.produtos-section-ls h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

/* Grid de produtos */
.produtos-list-ls {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; */
    display: flex;
    flex-wrap: wrap;
}

/* Cartão de produto */
.produto-card-ls {
    background-color: antiquewhite;
    width: 24%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 5px;
}

.produto-card-ls:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.produto-card-ls img {
    width: 100%;
    height: 170px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.produto-card-ls span {
    display: block;
    font-size: 0.9em;
    color: #888;
    margin-bottom: 5px;
}

.produto-card-ls h4 {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
}

/* Estrelas de classificação */
.stars-ls {
    color: #f5c518;
    margin-bottom: 15px;
}

/* Preço do produto */
.produto-card-ls .preco {
    font-size: 1.6em;
    color: #e91e63;
    margin-bottom: 15px;
}

/* Ícone de comprar */
.buy-icon {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e91e63;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.buy-icon:hover {
    background-color: #d81b60;
}

/* Rodapé da página */
.produtos-footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

.produtos-footer p {
    font-size: 0.9em;
    color: #777;
}

.formbold-btn-ls {
    display: flex;
    float: right;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
  }
  .formbold-btn-ls:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    background: orange;
  }


/* Responsive styles */
@media (max-width: 1200px) {
    .produto-card-ls {
        width: 32%;
        /* 3 items per row */
    }
}

@media (max-width: 992px) {
    .produto-card-ls {
        width: 48%;
        /* 2 items per row */
    }
}

@media (max-width: 768px) {
    .produto-card-ls {
        width: 100%;
        /* 1 item per row */
    }

    .produtos-header-ls h1 {
        font-size: 2em;
    }

    .produtos-header-ls p {
        font-size: 1em;
    }

    .produtos-section-ls h2 {
        font-size: 1.6em;
    }
}

@media (max-width: 480px) {
    .produto-card-ls {
        padding: 15px;
    }

    .produto-card-ls h4 {
        font-size: 1.2em;
    }

    .produto-card-ls .preco {
        font-size: 1.4em;
    }

    .buy-icon {
        padding: 8px 16px;
    }
}

.modal-carrinho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    text-align: center;
    background-color: #fdf5e6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 90%;
    max-height: 80%; /* Adicione esta linha para limitar a altura do modal */
    overflow-y: auto; /* Adicione esta linha para permitir a rolagem vertical */
    text-align: center;
}

.modal-content h2 {
    font-size: 2em;
    color: #444;
    margin-bottom: 10px;
}

.modal-content ul {
    max-height: 300px; /* Defina a altura máxima da lista */
    overflow-y: auto; /* Adicione barra de rolagem à lista se necessário */
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal-content li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    color: #555;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Estilos dos botões */
.buyButton {
    background-color: #088178;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buyButton:hover {
    background-color: #066861;
}

.closeButton {
    background-color: #e91e63;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.closeButton:hover {
    background-color: #6f0029;
}

.removeButton {
    background-color: #e91e63;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.removeButton:hover {
    background-color: #6f0029;
}

.form-input-ls {
    text-align: center;
    width: 60%;
    height:35px;
    margin: 5px;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
}

.form-input-ls:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.pesquisarButton {
    height: 35px;
    background-color: #4f484a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pesquisarButton:hover {
    background-color: #827e7f;
}